.aryan{
    color: green;
    background-color: white;
}

#para{
    color: blue;
    background-color: lightblue;
}
#para2{
    color: red;
    background-color: lightyellow;
}

#para3{
    color:rgb(73, 186, 186);
    background-color:bisque;
}